---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Nature Seeds</h1>
			<p>
				NatureSeeds, LLC was founded with a simple vision: to reconnect people 
				with the land, one seed at a time. Whether you're planting a backyard 
				herb garden or managing acres of farmland, our mission is to empower 
				you with high-quality seeds that nourish both people and the planet.
			</p>
			<p>
				We believe that healthy living starts at the root—literally. That’s why 
				we’ve made it our goal to source and supply premium, non-GMO seeds that 
				thrive in diverse conditions and bring abundance to every space they 
				touch. From flavorful vegetables and aromatic herbs to vibrant flowers 
				and productive cash crops, we help growers of all kinds turn their soil 
				into something special.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
	Sustainability is at the heart of everything we do. As we gradually transition to organic seed offerings, we’re not just improving the quality of your harvest—we’re helping to protect ecosystems, 
	support pollinators, and promote regenerative farming practices for future generations.
    </p>
    <p>
	Our team of growers, scientists, and garden enthusiasts work together to ensure each seed variety we offer is tested for performance, resilience, and flavor. We also provide practical support through growing guides, 
	crop strategies, and seasonal tips to help our community of gardeners and farmers succeed at every stage.
    </p>
    <p>
	We’re proud to be more than just a seed supplier. At NatureSeeds, we’re your partners in growth—committed to a healthier lifestyle, a more sustainable planet, and a brighter future rooted in the power of plants.
    </p>
    <p>
	Let’s grow something great together.
    </p>
  </TextSection>
</Layout>
